<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>PocketFlash</h1>
  </div>
  <div class="login-box">
    <form class="login-form" action="index.html" (ngSubmit)="signin(signinForm.value)" [formGroup]="signinForm">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i><br><br>WELCOME ADMIN!!</h3>
      <div class="form-group">
        <label class="control-label">Email</label>
        <input class="form-control" type="text" placeholder="Email" name="email" formControlName="email" autofocus>
      </div>
      <div class="form-group">
        <label class="control-label">PASSWORD</label>
        <input class="form-control" type="password" placeholder="Password" name="password" formControlName="password">
      </div>
      <div class="form-group btn-container">
        <button type="submit" [disabled]="!signinForm.valid" value="Submit" class="btn btn-primary btn-block"><i
            class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
      </div>
    </form>
    <div *ngIf="authService.error != ''">
      <p>{{authService.error}}</p>
    </div>
  </div>
</section>