<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>PocketFlash</h1>
  </div>
  <div class="login-box">
    <form class="login-form" action="index.html"  (ngSubmit)="resetPassword(resetPassword.value)" [formGroup]="resetPassword">
      
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>RESET ACCOUNT</h3>
      <div class="form-group">
        <label class="control-label">USERNAME</label>
        <input class="form-control" type="text" placeholder="Email" name="email" formControlName="email" autofocus>
      </div>
      <div class="form-group btn-container">
        <button type="submit" class="btn btn-primary btn-block" (click)="resetPwd(email)">RESET</button>
      </div>
      <br>
      <br>
      <br>
      <div>
        <a routerLink="/login">Back To Previous</a>
      </div>
    </form>
  </div>
</section>